<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}">
</head>
<body>
<h1>Photos App</h1>
<form action="{{ url_for('save_photo') }}" class="dropzone">
</form>
<script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
</body>
</html>
